/* COLLECTION */

* {
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #EAEAEA;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "MedievalSharp", cursive;
}

img {
  max-width: 100%;
}

header {
  background-color: rgba(255, 255, 255, 25%);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 8px;
  border-radius: 32px;
  position: sticky;
  top: 16px;
  display: grid;
  grid-template-columns: 45% 25% 25%;
  align-items: center;
  backdrop-filter: blur(3px);
}

a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  color: #6c6c6c;
}

.button {
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 32px;
}

a:hover {
  opacity: 50%;
}

main {
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 90vh;
}

.bg-image {
  background-image: url(images/dungeon.jpg);
  background-size: cover;
  background-position: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  align-items: end;
}

.center-align {
  text-align: center;
}

h3 {
  margin: 0;
}

p {
  margin: 0 0 24px 0;
  color: #ffffff;
}

h1 {
  margin-bottom: 16px;
  line-height: 90%;
  font-size: 48px;
}

.vertical-align {
  display: grid;
  align-items: center;
}

.max-width {
  max-width: 600px;
}

.cover-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/castle.jpg);
  background-size: cover;
  background-position: center;
}
